.homeChild {
    position: absolute;
    top: 1169px;
    left: 0px;
    background-color: #fff;
    width: 1920px;
    height: 1788px;
}
.homeItem {
    position: absolute;
    top: 2616px;
    left: 550px;
    max-height: 100%;
    width: 190.5px;
}
.homeInner {
    position: absolute;
    top: 2609px;
    left: 731px;
    width: 17px;
    height: 17px;
}
.searchIcon {
    position: absolute;
    top: 1525px;
    left: 771px;
    width: 384px;
    height: 835px;
    box-shadow: 20px 20px 50px 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}
.image325Icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1169px;
    object-fit: cover;
}
.main1Icon {
    position: absolute;
    top: 13px;
    left: 18px;
    border-radius: var(--br-41xl);
    width: 380px;
    height: 824px;
    object-fit: cover;
}
.image50 {
    position: absolute;
    top: 13px;
    left: 18px;
    border-radius: var(--br-41xl);
    background: linear-gradient(-5.99deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.03));
    width: 378px;
    height: 824px;
}
.icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 414px;
    height: 849px;
    object-fit: cover;
}
.main1Parent {
    position: absolute;
    top: 714px;
    left: 753px;
    width: 414px;
    height: 849px;
}
.beautyIcon {
    position: absolute;
    top: 1412px;
    left: 166px;
    width: 384px;
    height: 1356px;
    box-shadow: 20px 20px 50px 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}
.vectorIcon {
    position: absolute;
    top: 1283px;
    left: 1164px;
    width: 174px;
    height: 171px;
}
.style {
    font-weight: 500;
}
.styleForYouContainer {
    position: absolute;
    top: 1432px;
    left: 1370px;
    text-transform: uppercase;
}
.p {
    margin: 0;
}
.div {
    position: absolute;
    top: 1485px;
    left: 1370px;
    font-size: var(--font-size-base);
    line-height: 28px;
    text-transform: uppercase;
    color: var(--color-dimgray);
}
.beautyMain {
    position: absolute;
    top: 2595px;
    left: 768px;
    text-transform: uppercase;
}
.div1 {
    position: absolute;
    top: 2648px;
    left: 768px;
    font-size: var(--font-size-base);
    line-height: 28px;
    text-transform: uppercase;
    color: var(--color-dimgray);
}
.groupIcon {
    position: absolute;
    top: 1445px;
    left: 1328px;
    width: 17px;
    height: 17px;
}
.favorIcon {
    position: absolute;
    top: 1610px;
    left: 1370px;
    width: 384px;
    height: 801px;
    box-shadow: 20px 20px 50px 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}
.div2 {
    position: absolute;
    top: 234px;
    left: 0px;
    letter-spacing: -0.03em;
    line-height: 34px;
}
.div3 {
    position: absolute;
    top: 0px;
    left: 600px;
    font-size: var(--font-size-11xl);
    letter-spacing: -0.03em;
    font-family: var(--font-noto-sans);
}

.homeForYou {
    position: absolute;
    top: 76px;
    left: 7px;
    width: 630px;
    height: 85px;
    object-fit: cover;
}
.parent {
    position: absolute;
    top: 253px;
    left: 1138px;
    width: 637px;
    height: 336px;
    text-align: right;
    font-size: 18px;
    color: var(--color-white);
    font-weight: 350;
}
.home {
    width: 100%;
    position: relative;
    height: 2957px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-gray);
    font-family: var(--font-noto-sans-kr);
}

