.designGuideIcon {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 1920px;
    height: 630px;
    object-fit: cover;
}
.designGuide {
    width: 100%;
    position: relative;
    background-color: #070503;
    height: 874px;
    overflow: hidden;
    text-align: left;
    font-size: 29px;
    color: var(--color-white);
    font-family: var(--font-noto-sans);
}
